# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/coverage

# dependencies

# compodoc
/documentation

# misc
/.sass-cache
testem.log
tslint-to-eslint-config.log
/typings

# e2e
/e2e/src/*.js
/e2e/src/*.map
/cypress/screenshots

# System Files

# debug
debug.log
